
*{
  margin: 0;
  padding: 0;
}
.app{
  margin-top: 50px;
}
.title{
  text-align: center;
  margin-top: 2%;
  margin-bottom: 1%;
  font-size: 2.5em;
  color: #333;

}
.inputcon{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.inputcon input{
  padding: 10px;
  font-size: 1em;
  border: 2px solid black;
  border-radius: 4px;
  width: 300px;
  margin-right: 10px;
}
.addbtn{
  background: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 5%;
}
.todolist{
  max-width: 400px;
  margin: 0 auto;

}
.todo{
  background: #f4f4f4;
  padding: 10px;
  margin: 5px 0;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.todo:hover{
  background: #dedede;

}
.deletebtn{
  background: #4caf50;
  border: none;
  color: white;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}

.remove{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.removeBtn{
  background: #4caf50;
  border: none;
  color: white;
  border-radius: 4px;
  padding: 10px;
 
}
